@import 'root';

.bg-dark-blue{

    background-color: $dark-blue;

}

.border-radius{

    border-radius: $border-radius;

}

.border-spinner-blue{

    border-color: $blue;
    border-right-color: transparent;

}